In [1]:
import pandas as pd

# Load the CSV file to check its structure
file_path = 'half_marathon.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
data.head()

           Jmeno  Rocnik       Cas  Rok zavodu
0   Eisner Tomáš    1987  01:21:25        2019
1  Hofhans Tomáš    1985  01:27:43        2019
2        Krs Jan    1975  01:28:23        2019
3      Kasal Jan    1985  01:29:09        2019
4  Bryan Lauwers    1986  01:30:18        2019

In [7]:
# Filter data for 2019 and 2020
data_2019 = data[data['Rok zavodu'] == 2019]
data_2020 = data[data['Rok zavodu'] == 2020]

# Find common runners in both years by their names
common_runners = pd.merge(data_2019[['Jmeno']], data_2020[['Jmeno']], on='Jmeno')

# Extract records of common runners from the original dataset
common_runners_data = data[data['Jmeno'].isin(common_runners['Jmeno'])]

# Display the result
common_runners_data= common_runners_data.sort_values(["Jmeno", "Rok zavodu"])
common_runners_data

              Jmeno  Rocnik       Cas  Rok zavodu
76   Aster Vladimír    1965  01:53:25        2019
374  Aster Vladimír    1965  02:00:19        2020
231   Asterová Jana    1974  02:16:59        2019
521   Asterová Jana    1974  02:30:01        2020
101   Baborová Anna    1990  01:58:20        2019
..              ...     ...       ...         ...
364    Švelch Rosťa    1966  01:55:11        2020
318    Žitková Jana    1974  02:45:54        2019
558    Žitková Jana    1974  02:42:48        2020
140   Žákovec Pavel    1966  02:03:36        2019
419   Žákovec Pavel    1966  02:07:37        2020

[189 rows x 4 columns]

In [5]:
common_runners_data.to_csv("half_marathon.csv", index=False)